/* Selector Unversal */
* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Selector de id*/
.contenedor {
    text-align: justify;
    font-family: "tahoma";
    background-color: #2e2c2a;
    max-width: 0 auto;
    justify-content: center;
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;

}

#admin {

    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: justify;
}

#encabezado {
    font-family: "tahoma";
    height: 7%;
    width: 90%;
    background-color: #557c54;
    margin: 1em auto;
    padding-top: 20px;
    border-radius: 0.5em;
    color: rgb(255, 247, 247);
    text-align: justify;

}

#menuOp {
    display: flex;
    flex-direction: row;
    height: 2.5%;
    width: 90%;
    background-color: rgb(231, 183, 128);
    margin: 1em auto;
    border-radius: 0.5em;
    padding-top: 15px;
    text-align: justify;

}

nav a {
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
}


#contenido {

    height: 86%;
    width: 90%;
    margin: 0.5em auto;
    border-radius: 0.5em;
    color: rgb(226, 241, 255);
    flex-wrap: wrap;
}

.primavera {
    flex-wrap: wrap;
}

#cur2 {
    text-align: justify;
    font-size: large;

    height: auto;
    width: auto;
    margin: 10px;
    box-shadow: 0 0 5px red;
}

#cur2 img {
    display: flexbox;
    height: 138.5px;
    width: auto;
}

#cur2 button {
    background-color: rgb(230, 173, 173);
    color: black;
    font-size: medium;
    font-family: verdana;
    font-weight: bold;
}



.pie {
    height: 50px;
    width: 100%;
    background-color: #965b24;
    margin: 1.5 em;
    color: #ddd;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
}

#cur {
    width: 500px;
    height: 50%;
    text-align: justify;
    font-size: large;
    height: auto;
    width: 500px;
    margin: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#cur img {
    display: flexbox;
    height: 138.5px;
    width: auto;
}

#cur button {
    background-color: rgb(17, 218, 94);
    color: black;
    font-size: medium;
    font-family: verdana;
    font-weight: bold;
}

/* Selector de clase */
.texto {

    text-align: center;
    font-family: "tahoma";
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin: 15px;

}

.encabezado_a {

    text-align: center;
    background: rgb(56, 26, 12);
    color: rgb(255, 255, 255);
    margin: auto 2em;
    border-radius: 0.5em;

}


.articulo1 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid black;
    flex-direction: column;
}

.articulo1 div {
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 10px;
    font-size: 30px;
    border: 2px solid black;
}

.encabezado {
    text-align: center;
}

#a {
    flex-wrap: wrap;
}

ul {
    text-align: center;

}

li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;

}

a {
    color: rgb(0, 8, 255);
}

.imagenes {
    height: 200px;
    width: 200px;

}

.articulo11 {

    margin: 5px;
    display: flex;
    text-align: justify;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

}

.articulo1 {

    border: 2px solid rgb(25, 0, 255);
    background-color: rgb(129, 129, 98);
    border-radius: 8px;
    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: stretch;

}

button {
    background-color: rgb(14, 41, 3);
    color: azure;
}


.img {
    height: 150px;
    width: 150px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30%;
}

#a1 {
    display: flex;
    flex-wrap: wrap;
}

.i1 {
    width: 200px;
    height: 200px;
    border-radius: 35%;
}