
.center-box{
  position: absolute;
  top:65%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 2px solid;
  background-image: url(/img/mar-2022__dhb9rk86zhyu_large.jpg);
  border-radius: 40px;
  width:400px;
  height:420px;
  text-align: center;
  color:white;
}
.center-box2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  background-image: url(/img/sep-2021__f6l7vpxwurau_large.jpg);
  border-radius: 40px;
  width: 400px;
  height: 420px;
  text-align: center;
  color: white;
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.text-field{
  padding: 10px 60px;
  margin: 20px 0;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 12pt;
}
.btn-style{
  padding: 10px 30px;
  border:1px solid white;
  border-radius: 20px;
  background-color: white;
  color:rgb(0, 75, 128);
}
.btn-style:hover{
  background-color: rgb(0, 128, 100);
  color:white;
}
.an-btn{
  margin-top: 10px;
  border: 0;
  background-color: rgb(0, 128, 100);
  color:white;
  font-size: 11pt;
}
#register-div{
  display:none;
}
#result-box{
  display:none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 16pt;
  color: white;
}
section {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  background-color: aqua;
  width: 1200px;
  padding-left: 10px;
  text-align: justify;
}

.campo {
  flex: 1 1 auto;
}

h2{
  text-align: center;
}

#loginbtn{
  width: 100px;
}

 #btnlimpiar{
  width: 100px;
 }