* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 90%;
    margin: 20px auto;
    flex-direction: row;
}

body {
    font-size: 62.5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #222222;
    display: flex;
    justify-content: center;
    max-height: 200px;
    width: 100%;
    height: 200px;
}

header picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

header picture img {
    width: auto;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-evenly;
}

nav a {
    color: #44043e;
    font-size: 2.2em;
    text-decoration: none;
    padding: 5px 30px;
    align-items: center;
    margin: 14px 0px;
}

nav a:hover {
    border-bottom: 2px solid #000000;
    margin: 12px 0px;
}

footer {
    background-color: #585353;
    padding: 3em;
    text-align: center;
    margin-top: auto;
}

footer span {
    font-size: 2em;
    color: #a9a9a9;
}

main {
    background-color: #c9c9c9;
    flex: auto;
    display: flex;
}

.fondo {
    flex: auto;
    background-image: url(/img/hero_announce__bwxm3afyufua_xlarge.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fondo-inicio {
    flex: auto;
    background-image: url(/img/sep-2021__f6l7vpxwurau_large.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fondo-empresa{
    flex: auto;
    background-image: url(/img/hero_announce__bwxm3afyufua_xlarge.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fondo-producto{
flex: auto;
    background-image: url(/img/sep-2021__f6l7vpxwurau_large.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#fondo-contacto {
    flex: auto;
    background-image: url(/img/mar-2022__dhb9rk86zhyu_large.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
}
.contenedor--productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}



.contenedor--productos .producto {
    height: 40em;
    width: 30em;
    background: #fbfaffb0;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 1em black;
}

.producto picture {
    height: 60%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.producto picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.producto--nombre {
    color: #000000;
    font-size: 1.5em;
}

.producto--precio {
    color: #05280d;
    font-size: 1.8em;
}

.producto--boton {
    display: block;
    height: 2em;
    width: 40%;
    background-color: #0656c7;
    color: #c9c9c9;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
}

.producto--boton:hover {
    background-color: #072f3fae;
    cursor: pointer;
}



.contenedor--empresa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
}

.contenedor--empresa picture {
    max-height: auto;
    width: 35%;
    margin: 20px 0px;
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0px 0px 1em black;
}

.contenedor--empresa picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.texto--empresa {
    color: #c9c9c9;
    font-size: 1.9em;
    margin: 2em;
}

.contenedor--inicio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
}

.inicio--recomendado {
    height: 40em;
    width: 40em;
    background: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 2em;
}


.recomendado--nombre {
    color: #000000;
    font-size: 1.5em;
}

.recomendado--boton {
    height: 3em;
    width: 50%;
    background-color: #0656c7;
    color: #c9c9c9;
    font-family: "Rubik", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    padding-top: 0.8em;
}

.recomendado--boton:hover {
    background-color: #072f3fae;
    cursor: pointer;
}

.contenedor--recomendado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

.contenedor--recomendado h2 {
    font-size: 2em;
    color: #c9c9c9;
}

.texto--inicio {
    color: #c9c9c9;
    font-size: 1.9em;
    margin: 2em;
}

.articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulo button {
    padding-bottom: 1em;
    width: 50%;
}

@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 1.5em;
        margin: 3px 0px;
    }

    nav a:hover {
        border-bottom: 2px solid #949494;
        margin: 2px 0px;
    }

    footer span {
        font-size: 0.8em;
    }

    .formulario--campo textarea {
        margin-left: 0em;
    }

    .formulario--campo input {
        margin-left: 0em;
    }
}

.sidebar {
    justify-items: right;
    height:560px;
    width: 410px;
    padding: 4em 14px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background: rgb(248, 248, 248);
    color: rgb(0, 0, 0);
    border-radius: 2em;
    margin: 10px;
}

.sidebar .acerca-de img {
    border-radius: 100%;
    display: inline-block;
    height: 20em;
    width: 20em;
    margin-bottom: 10px;
}

.sidebar .bio {
    margin-bottom:20px;
    font-size: 20px;
    line-height: 20px;
}

.sidebar .menu {
    width: 100%;
    display: inline-block;
}

.sidebar .menu a {
    padding: 15px;
    color: #fff;
    background-color: #000;
    display: block;
    font-size: 1em;
    text-transform: uppercase;
}

.sidebar .menu a:hover {
    background: #262626;
}


.articulo .extracto {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #868b8d;
}

.articulo.destacado {
    grid-area: destacado;
    color: white;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-thumbnail {
    min-height: 90%;
    width: 90%;
}

.articulo.destacado .contenedor-thumbnail a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.destacado .titulo a {
    color: #fff;
}

img ,inicio{
    width: 100%;
    height: 232px;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.1em;
}

textarea {
    resize: none;
    outline: none;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 10px;
}


#contenido-contactos {
    height: 200%;
    width: 60%;
    border-radius: 0.6em;
}

input[id="celular"],
input[id="nombre"],
input[id="email"],
textarea[id="comentarios"] {
    width: 444px;
    position: relative;
    display: flex;
}

.buttons {
    text-align: left;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 10px;
    background-color: #0656c7;
    border: none;
    border-radius: 5px;
    color: #FFF;
    margin: 5px;
    cursor: pointer;
}


.articulo .contenedor-textocontactos {
    padding: 20px;
    width: 50px;
    display: grid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120%;
}

h2 {
    font-size: 2.7em;
    text-align: justify;
}

h3{
    text-align: justify;
    margin: 20px;
}

p ,extracto {
    margin: 20px;
    font-size: 1.5em;
    text-align: justify;
}

p{
    font-size: 1.5em;
        text-align: justify;
}

h2, titulo{
    margin: 20px;
    text-align: justify;
}

#inicio2{
    border-radius: 2em;
}

#tipo-articulo{
    text-align: center;
}

#descripcion{
    color: #000000;
    font-size: 1.8em;
}

.p, texto--empresa{
    color: #000000;
    text-align: justify;
}

#cantidad{
    margin: 5px;
    width: 35px;

}

#contactol{
    font-size: 1.9em;
}